#our-blog {
  background-color: #fbfcfd;
}

.container__our-blog {
  @include display_center_y;
  flex-direction: column;
  margin-bottom: 50px;
  .our-blog__titles {
    text-align: center;
    margin-bottom: 90px;
    .titles-subtitle {
      max-width: 500px;
      @include font-settings(1.125rem, 400, 1.75rem, $color-text-content);
    }
  }

  .our-blog__columns {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    margin-bottom: 120px;
    .columns__single-column {
      box-shadow: 0px 40px 40px #c5c3f926;
      padding-bottom: 1px;
      transition: 0.3s;
      &:hover {
        .single-column__texts {
          .texts__arrow {
            margin-left: 20px;
            transition: 0.3s;
          }
        }
      }
      .single-column__image {
        width: 100%;
      }
      .single-column__texts {
        margin: 0 30px 50px 30px;
        .texts__title {
          margin-bottom: 15px;
          @include font-settings(
            1.25rem,
            600,
            1.625rem,
            $color-text-dark_grey,
            $font-titles
          );
        }

        .texts__subtitle {
          margin-bottom: 25px;
          @include font-settings(1rem, 400, 1.75rem, $color-text-dark_grey);
        }
      }
    }
  }

  .our-blog__logos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 40px;
    justify-content: center;
  }

  @include tablet {
    .our-blog__columns {
      flex-wrap: wrap;
      justify-content: center;
      .columns__single-column {
        width: 70%;
      }
    }
  }

  @include mobile {
    .our-blog__columns {
      flex-direction: column;
      .columns__single-column {
        width: unset;
      }
    }

    .our-blog__logos {
      flex-direction: column;
      align-items: center;
      .logos__single-logo {
        width: 60%;
        margin-top: -20%;
      }
    }
  }
}
